<head>
<meta charset="UTF-8">
<title>antitecnas — home</title>
<link rel="stylesheet" href="../style.css">
</head>

<body>
<h1 class="cab1">antitecnas</h1>

<p>Our Icecast server is hosted by GISS.TV:</p>

<p><a href="http://giss.tv/uniplay/html5/html5.php?url=http://giss.tv:8001/antitecnas.ogg">Listen here</a></p>

<p>If you can please donate to GISS.TV by visiting <a href="http://giss.tv/">their homepage</a>.</p>

</body>

