<meta charset="UTF-8">
<title>antitecnas</title>

<link rel="stylesheet" href="style.css">

<div class="container">
  <div class="vertical">

<ul>
<li><a href="en/index.html">english</a></li>
<li><a href="es/index.html">español</a></li>
<li><a href="pt/index.html">português</a></li>
</ul>	

  </div>
</div> 

