

 <style>

.container {
	height: 200px;
	position: relative;
	border: ;
}

.vertical {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%, -50%);
  transform: translateY(-50%, -50%);
}

a {
	color: #C99E00;
	text-decoration: none;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\21AC";
  color: white;
  font-weight: normal;
  display: inline-block;
  width: 1.2em;
  line-height: 2em;
  margin-left: -1em;
}

	* {background-color: black}

h1.cab1 {
	font-weight: normal;
	color: #c93900; !important
	font-size: 25px;
	text-align: center;
}

h2.cab2 {
	font-weight: bold;
	color: #c93900;
	font-size: 15px;
	text-align: center;
}

h3.cab3 {
	font-weight: bold;
	color: #c93900;
	font-size: 13px;
	text-align: left;
}

p {
	color: #B9B9B9;
	margin: 2%;
}

p.marcadata {
	font-size: 13px;
	text-align: right;
	color: #3C3C3C
}

p.disclaimer {
	font-size: 15px;
	text-align: left;
	color: #3C3C3C
}

* {
	font-family: mono;

}

</style>

