<head>
<meta charset="UTF-8">
<title>antitecnas — home</title>
<link rel="stylesheet" href="../style.css">
</head>

<body>
<h1 class="cab1">antitecnas</h1>

<p>Nuestro servidor Icecast está alojado en GISS.TV:<p>

<p><a href="http://giss.tv/uniplay/html5/html5.php?url=http://giss.tv:8001/antitecnas.ogg">Escuche aquí</a></p>

<p>Si puede, haga una donación a <a href="http://giss.tv/">GISS.TV</a> visitando su página web.</p>

</body>

