<head>
<meta charset="UTF-8">
<title>antitecnas — início</title>
<link rel="stylesheet" href="../style.css">
</head>

<body>
<h1 class="cab1">antitecnas</h1>

<p>Nosso servidor do Icecast é hospedado pela GISS.TV:</p>

<p><a href="http://giss.tv/uniplay/html5/html5.php?url=http://giss.tv:8001/antitecnas.ogg">Ouça aqui</a></p>

<p>Se puder, <a href="http://giss.tv/">faça uma doação</a> para a GISS.TV.</p>

</body>

